@{
	ViewData["Title"] = "About Us";
}
<div class="text-center mb-4 d-flex flex-row justify-content-center align-items-center">
	@*	<h1 class="mb-5">Sam's Warehouse</h1>*@
	<img src="/media/Sams Warehouse Shopping Cart.svg" class="card-img-top" alt="Sam's Warehouse Logo" style="width: 12%; margin: 0 auto">
</div>

<div style="display: flex; justify-content: center; align-items: center;" class="m-4">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/iUtnZpzkbG8" title="YouTube video player"
			frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
        web-share" allowfullscreen></iframe>
</div>

<div class="card mb-5 shadow">
	<div class="card-body">
		<h1 class="card-title" style="text-align: center">About Us</h1>
		<p1>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed est eu velit dignissim bibendum. Ut risus mauris, tincidunt eget turpis eget, scelerisque pharetra ipsum. Ut aliquam aliquet pulvinar. Pellentesque arcu turpis, laoreet dapibus aliquet quis, volutpat sed eros. Nulla eu dui sed sapien dictum hendrerit eu eget nulla. Duis pulvinar neque in tellus iaculis lobortis. Vivamus justo odio, iaculis vel ante ac, tincidunt placerat arcu. Nullam semper quam in lectus tempor luctus. Fusce id tortor pulvinar, tincidunt sapien quis, semper purus.
			Curabitur a sagittis nisl. Vestibulum vestibulum dignissim condimentum. Nulla dignissim turpis tellus. Etiam cursus tempus lobortis. Aliquam eget odio eu justo posuere elementum vehicula nec est. Integer vestibulum vitae lacus quis porta. Nulla fringilla condimentum nibh, sit amet sodales dui rhoncus id. Vestibulum vulputate orci id porttitor tristique. Etiam dignissim neque nec lectus ullamcorper, sit amet pretium dui porta.
		</p1>
	</div>
</div>

